In [1]:
import pandas as pd

In [2]:
mydata=pd.read_csv(r"C:\Users\dell\Desktop\ML\DataSets-master\uforeports.csv")

In [3]:
mydata.head(2)

,Unnamed: 0,City,Colors Reported,Shape Reported,State,Time
0,0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00

In [6]:
mydata.isnull().sum()

Unnamed: 0             0
City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [7]:
mydata.shape

(18241, 6)

In [8]:
mydata.notnull().sum()

Unnamed: 0         18241
City               18216
Colors Reported     2882
Shape Reported     15597
State              18241
Time               18241
dtype: int64

In [9]:
# to delete null data
mydata.dropna().shape

(2486, 6)

In [12]:
mydata.dropna(how='any')

,Unnamed: 0,City,Colors Reported,Shape Reported,State,Time
12,12,Belton,RED,SPHERE,SC,6/30/1939 20:00
19,19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
36,36,Portsmouth,RED,FORMATION,VA,7/10/1945 1:30
44,44,Blairsden,GREEN,SPHERE,CA,6/30/1946 19:00
82,82,San Jose,BLUE,CHEVRON,CA,7/15/1947 21:00
84,84,Modesto,BLUE,DISK,CA,8/8/1947 22:00
91,91,Scipio,RED,SPHERE,IN,5/10/1948 19:00
111,111,Tarrant City,ORANGE,CIRCLE,AL,8/15/1949 22:00
129,129,Napa,GREEN,DISK,CA,6/10/1950 0:00
138,138,Coeur d'Alene,ORANGE,CIGAR,ID,7/2/1950 13:00
152,152,Irving,BLUE,DISK,KS,4/15/1951 0:30
157,157,Greenville,GREEN,DISK,MS,6/15/1951 20:30
163,163,Green River,GREEN,SPHERE,WY,7/3/1951 12:00
164,164,Provo,BLUE,DISK,UT,7/10/1951 23:30
174,174,Greenville,ORANGE,TRIANGLE,TX,4/15/1952 16:00
178,178,Norfolk,RED,FIREBALL,VA,6/1/1952 22:00
202,202,Arlington,GREEN,OVAL,VA,7/13/1952 21:00
226,226,Cambridge,RED,SPHERE,MA,4/1/1953 18:00
229,229,Midwest City,YELLOW,FIREBALL,OK,4/15/1953 16:00
238,238,Cleveland,RED,FIREBALL,OH,6/30/1953 0:00
249,249,Artesia,ORANGE,OTHER,NM,8/15/1953 19:00
256,256,Pendleton,GREEN,DISK,IN,11/21/1953 22:30
288,288,St. Louis Airport,RED,OVAL,MO,7/1/1954 21:00
289,289,Los Angeles,RED,CIRCLE,CA,7/1/1954 22:00
304,304,Beaumont,RED,DISK,TX,9/9/1954 12:30
311,311,Red Bank,ORANGE,CIRCLE,NJ,12/15/1954 23:10
314,314,Holbrook,YELLOW,EGG,MA,5/1/1955 15:00
323,323,Terre Haute,ORANGE,CIRCLE,IN,6/15/1955 0:00
354,354,Memphis,ORANGE,CYLINDER,TN,6/1/1956 20:00
363,363,Vista,ORANGE,CIGAR,CA,6/15/1956 19:15
...,...,...,...,...,...,...
18110,18110,Gilbert,RED,LIGHT,AZ,12/11/2000 23:45
18115,18115,Madison,RED GREEN,TEARDROP,OH,12/12/2000 18:45
18117,18117,Concord,RED GREEN,CIRCLE,NH,12/12/2000 23:10
18121,18121,Redwood Valley,BLUE,LIGHT,CA,12/15/2000 1:09
18123,18123,Waldorf,GREEN,LIGHT,MD,12/15/2000 5:30
18127,18127,North Pole,ORANGE,SPHERE,AK,12/15/2000 16:36
18129,18129,Beaver,RED,DISK,PA,12/15/2000 18:25
18134,18134,Graham,GREEN,LIGHT,WA,12/16/2000 0:20
18141,18141,Sebastopol,YELLOW,CIRCLE,CA,12/17/2000 18:00
18144,18144,Medina,ORANGE,TRIANGLE,OH,12/17/2000 19:30
18148,18148,Highland Park,BLUE,VARIOUS,NJ,12/18/2000 2:30
18158,18158,Woodland,ORANGE,LIGHT,CA,12/19/2000 23:30
18167,18167,Gilbert,RED,CIRCLE,AZ,12/21/2000 19:05
18170,18170,MM 110,BLUE,CIRCLE,AZ,12/22/2000 3:00
18172,18172,Toomsuba,RED,OVAL,MS,12/23/2000 4:00
18177,18177,Chandler,RED,LIGHT,AZ,12/23/2000 22:00
18181,18181,Fortuna,ORANGE,CIRCLE,CA,12/24/2000 18:00
18184,18184,Plymouth,GREEN,FIREBALL,OH,12/24/2000 22:00
18191,18191,Fallston,RED,VARIOUS,MD,12/25/2000 19:15
18192,18192,Atlanta,ORANGE,LIGHT,GA,12/25/2000 20:30
18194,18194,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18195,18195,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18196,18196,Brocton,GREEN,OVAL,MA,12/26/2000 18:23
18197,18197,Greenfiled,GREEN,FIREBALL,MA,12/26/2000 18:30
18210,18210,Monument Valley,BLUE,OTHER,UT,12/28/2000 17:51
18213,18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18216,18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18220,18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18233,18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18239,18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45

In [13]:
mydata.dropna(how='any').shape

(2486, 6)

In [15]:
mydata.dropna(thresh=5)
#delete null data if it occurs in particular 5 columns

,Unnamed: 0,City,Colors Reported,Shape Reported,State,Time
0,0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,5,Valley City,NaN,DISK,ND,9/15/1934 15:30
6,6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
7,7,Alma,NaN,DISK,MI,7/15/1936 0:00
8,8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00
9,9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00
10,10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00
11,11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00
12,12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00
14,14,Ludington,NaN,DISK,MI,6/1/1941 13:00
15,15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
18,18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
19,19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,20,Nebraska,NaN,DISK,NE,6/1/1943 15:00
23,23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00
24,24,Wilderness,NaN,DISK,WV,1/1/1944 10:00
25,25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00
26,26,Wilderness,NaN,DISK,WV,1/1/1944 12:00
27,27,Clovis,NaN,DISK,NM,4/2/1944 11:00
28,28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00
29,29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00
30,30,South Kingstown,NaN,SPHERE,RI,7/1/1944 20:00
31,31,North Tampa,NaN,CYLINDER,FL,7/15/1944 13:00
32,32,Ft. Lee,NaN,CIGAR,VA,1/1/1945 12:00
33,33,Salinas AFB,NaN,DISK,CA,6/1/1945 12:00
...,...,...,...,...,...,...
18207,18207,Mansfield,NaN,FLASH,TX,12/28/2000 12:00
18208,18208,Murphreesboro,NaN,FLASH,TN,12/28/2000 12:15
18209,18209,Houston,NaN,LIGHT,TX,12/28/2000 17:09
18210,18210,Monument Valley,BLUE,OTHER,UT,12/28/2000 17:51
18211,18211,Holyoke,NaN,DIAMOND,MA,12/28/2000 18:00
18212,18212,Carson,NaN,DISK,CA,12/28/2000 18:20
18213,18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18214,18214,Austin,NaN,FORMATION,TX,12/29/2000 0:00
18215,18215,El Campo,NaN,OTHER,TX,12/29/2000 9:00
18216,18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18217,18217,Berthoud Pass,NaN,TRIANGLE,CO,12/29/2000 19:30
18218,18218,Sisterdale,NaN,DIAMOND,TX,12/29/2000 20:00
18219,18219,Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30
18220,18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18221,18221,Franklin,NaN,DISK,NH,12/29/2000 20:50
18222,18222,Albrightsville,NaN,OTHER,PA,12/29/2000 21:00
18224,18224,Eufaula,NaN,DISK,OK,12/29/2000 23:30
18225,18225,Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00
18226,18226,San Francisco,NaN,FORMATION,CA,12/30/2000 22:00
18227,18227,San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00
18228,18228,Kingsville,NaN,LIGHT,TX,12/31/2000 4:00
18229,18229,Chicago,NaN,DISK,IL,12/31/2000 11:45
18230,18230,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18231,18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18233,18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18234,18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00
18236,18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18239,18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [16]:
mydata.dropna(thresh=5).shape

(15971, 6)

In [17]:
mydata.dropna(thresh=7)

Empty DataFrame
Columns: [Unnamed: 0, City, Colors Reported, Shape Reported, State, Time]
Index: []

In [19]:
mydata.dropna(thresh=7).shape

(0, 6)

In [20]:
mydata.fillna(10)
#for assigning values to null values

,Unnamed: 0,City,Colors Reported,Shape Reported,State,Time
0,0,Ithaca,10,TRIANGLE,NY,6/1/1930 22:00
1,1,Willingboro,10,OTHER,NJ,6/30/1930 20:00
2,2,Holyoke,10,OVAL,CO,2/15/1931 14:00
3,3,Abilene,10,DISK,KS,6/1/1931 13:00
4,4,New York Worlds Fair,10,LIGHT,NY,4/18/1933 19:00
5,5,Valley City,10,DISK,ND,9/15/1934 15:30
6,6,Crater Lake,10,CIRCLE,CA,6/15/1935 0:00
7,7,Alma,10,DISK,MI,7/15/1936 0:00
8,8,Eklutna,10,CIGAR,AK,10/15/1936 17:00
9,9,Hubbard,10,CYLINDER,OR,6/15/1937 0:00
10,10,Fontana,10,LIGHT,CA,8/15/1937 21:00
11,11,Waterloo,10,FIREBALL,AL,6/1/1939 20:00
12,12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,13,Keokuk,10,OVAL,IA,7/7/1939 2:00
14,14,Ludington,10,DISK,MI,6/1/1941 13:00
15,15,Forest Home,10,CIRCLE,CA,7/2/1941 11:30
16,16,Los Angeles,10,10,CA,2/25/1942 0:00
17,17,Hapeville,10,10,GA,6/1/1942 22:30
18,18,Oneida,10,RECTANGLE,TN,7/15/1942 1:00
19,19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,20,Nebraska,10,DISK,NE,6/1/1943 15:00
21,21,10,10,10,LA,8/15/1943 0:00
22,22,10,10,LIGHT,LA,8/15/1943 0:00
23,23,Owensboro,10,RECTANGLE,KY,10/15/1943 11:00
24,24,Wilderness,10,DISK,WV,1/1/1944 10:00
25,25,San Diego,10,CIGAR,CA,1/1/1944 12:00
26,26,Wilderness,10,DISK,WV,1/1/1944 12:00
27,27,Clovis,10,DISK,NM,4/2/1944 11:00
28,28,Los Alamos,10,DISK,NM,6/1/1944 12:00
29,29,Ft. Duschene,10,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...,...
18211,18211,Holyoke,10,DIAMOND,MA,12/28/2000 18:00
18212,18212,Carson,10,DISK,CA,12/28/2000 18:20
18213,18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18214,18214,Austin,10,FORMATION,TX,12/29/2000 0:00
18215,18215,El Campo,10,OTHER,TX,12/29/2000 9:00
18216,18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18217,18217,Berthoud Pass,10,TRIANGLE,CO,12/29/2000 19:30
18218,18218,Sisterdale,10,DIAMOND,TX,12/29/2000 20:00
18219,18219,Garden Grove,10,CHEVRON,CA,12/29/2000 20:30
18220,18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18221,18221,Franklin,10,DISK,NH,12/29/2000 20:50
18222,18222,Albrightsville,10,OTHER,PA,12/29/2000 21:00
18223,18223,Greenville,10,10,SC,12/29/2000 22:00
18224,18224,Eufaula,10,DISK,OK,12/29/2000 23:30
18225,18225,Simi Valley,10,FORMATION,CA,12/30/2000 10:00
18226,18226,San Francisco,10,FORMATION,CA,12/30/2000 22:00
18227,18227,San Francisco,10,TRIANGLE,CA,12/30/2000 22:00
18228,18228,Kingsville,10,LIGHT,TX,12/31/2000 4:00
18229,18229,Chicago,10,DISK,IL,12/31/2000 11:45
18230,18230,Pismo Beach,10,OVAL,CA,12/31/2000 20:00
18231,18231,Pismo Beach,10,OVAL,CA,12/31/2000 20:00
18232,18232,Lodi,10,10,WI,12/31/2000 20:30
18233,18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18234,18234,Capitola,10,TRIANGLE,CA,12/31/2000 22:00
18235,18235,Fountain Hills,10,10,AZ,12/31/2000 23:00
18236,18236,Grant Park,10,TRIANGLE,IL,12/31/2000 23:00
18237,18237,Spirit Lake,10,DISK,IA,12/31/2000 23:00
18238,18238,Eagle River,10,10,WI,12/31/2000 23:45
18239,18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,18240,Ybor,10,OVAL,FL,12/31/2000 23:59

In [26]:
#for imputing data
# to fill missing value fill(0 or mean or any value or more repeated values(mode))
from sklearn.preprocessing import Imputer

In [35]:
C:\Users\dell\Desktop\ML\DataSets-master

In [37]:
imp.fit_transform(mydata)
#error due to data is in string form

ValueError: could not convert string to float: '12/31/2000 23:59'